<div id="menu">
    <input type="checkbox" id="btn-menu">

    <label for="btn-menu"><img src="{{site.baseurl}}/assets/images/menu.png"></label>
    <nav class="main-nav">
        <ul>
            <img src="{{site.baseurl}}/assets/images/pngocean.com-id-zetbz.png">
            <li><a href="{{site.baseurl}}/homepage">Home</a></li>
            <li><a href="#">Menu Page</a></li>
            <li><a href="{{site.baseurl}}/reservation">Reservation</a></li>
            <li><a href="#">Location & Contact</a></li>
            <li><a href="{{site.baseurl}}/gallery">Gallery</a></li>
            <li><a href="#">About</a></li>

        </ul>
    </nav>
</div>